html,body
  width: 100%
  height: 100%
  overflow-x: hidden
.clear-fix:after
  display: block
  width: 0
  height: 0
  content:''
  visibility: hidden
  clear: both
.clear-fix:before
  display: block
  width: 0
  height: 0
  content:''
  visibility: hidden
  clear: both
.hover-big:hover
  transform: scale(1.1,1.1)
  transition: transform 0.3s linear
.select-none
    -webkit-user-select:none
    -moz-user-select:none
    -ms-user-select:none
    user-select:none
@font-face
  font-family: lato
  src: url(../fonts/lato/lato-light.eot)
  src: url(../fonts/lato/lato-light.eot?#iefix) format("embedded-opentype"), url(../fonts/lato/lato-light.woff) format("woff"), url(../fonts/lato/lato-light.ttf) format("truetype"), url(../fonts/lato/lato-light.svg) format("svg")
  font-weight: 400
  font-style: normal
@font-face
  font-family: LATO-REGULAR
  src: url(../fonts/Lato-Regular/Lato-Regular.eot)
  src: url(../fonts/Lato-Regular/Lato-Regular.eot?#font-spider) format("embedded-opentype"), url(../fonts/Lato-Regular/Lato-Regular.woff) format("woff"), url(../fonts/Lato-Regular/Lato-Regular.ttf) format("truetype"), url(../fonts/Lato-Regular/Lato-Regular.svg) format("svg")
  font-weight: 400
  font-style: normal
@font-face {
  font-family: LATO-MEDIUM
  src: url(../fonts/LATO-MEDIUM/LATO-MEDIUM.eot);
  src: url(../fonts/LATO-MEDIUM/LATO-MEDIUM.eot?#font-spider) format("embedded-opentype"), url(../fonts/LATO-MEDIUM/LATO-MEDIUM.woff) format("woff"), url(../fonts/LATO-MEDIUM/LATO-MEDIUM.ttf) format("truetype"), url(../fonts/LATO-MEDIUM/LATO-MEDIUM.svg) format("svg");
  font-weight: 400;
  font-style: normal
}


