// color
$theme_color = #ff3052
$background_main = #f1f1f1
$footer-background = #fff
$theme_second_color = #05b570
$theme_second_deep_color = #049c61

// other
$wrapper_width = 1200px
$wrapper_width_second = 1300px
